* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  
}
:root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background: black;  
}

.container{
    width: 100vw;
    height: 100vh; 
    background-image: url('../img/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-items: center;
    position: center;
    justify-content: space-between;
    height: 8em;
    padding: 0 11%;
}

.logo {
    width: 12em;
    filter: invert(100%) sepia(99%) contrast(99%) saturate(1%) brightness(999%); 
    font-size: 15px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 5em;
}

.icon img {
  width: 50px;
}

.login {
    display: flex;
    align-items: center;
    gap: 5em;
}
  

.login a {
    color: white;
    font-size: 2.4rem;
    text-decoration: none;
}

.center-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login{
    display: flex;
    justify-content:center;    
    flex-direction: column;
    align-items: center;    
}

.card-login > h1 {
    color: white;
    margin: 0;
    font-size: 50px;
    padding-bottom: 1ex;
    padding-top: 3ex;
    margin-right: 50px;
}

.text {
    text-align: center;
    font-size: bold;
    font-size: 30px;
    color: white;
    margin-top: 2%;
    margin-bottom: 1px;

}

.textField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 25px;
    color: white;
    margin-top: 45px;
}

.textField > input{
    width: 22em;
    height: 2em;
    border-radius: 30px;
    background-color: #848484c0;
    margin-top: 2%;
    border: none;
    color: white;
    font-size: 2.8rem;
    padding-left: 30px;
    caret-color: violet;
}


input::placeholder {
  font-size: 2.8rem;
  padding-left: 40px;
  outline: 0;

  color: white;
}

#botao {
    text-align: center
}

.btn1 {
    font-size:25px;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 1%;
    border-radius: 30px;
    background: linear-gradient(73deg,
      rgb(123, 113, 185) 12%,
      rgba(220, 153, 223, 1) 87%);
    border: none;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
} 

/* Telav Celulares*/
@media (max-width: 999px) {
    nav{
        padding: 0 1em 0 1em;
    }
    .logo {
        width: 12em;
        font-size: 13px;
    }
    .icon {
        width: 10em;
        gap: 1em;
    }
   
    .card-login > h1 {
        font-size: 4em;
        padding-bottom: 1ex;
        padding-top: 2em;
        margin-right: 25px;
    }
    .text {
        font-size: 4ex;
    }

    label{
        font-size: 20px;
    }

    .textField {
        margin-top:1ex;
    }

    .textField > input{
        width: 14em;
        height: 3ex;
    }

    .btn1 {
        font-size:2em;
        width: 7em;
        height: 4ex;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
  }

